{% unless grid_item_width  %}
{% assign grid_item_width = 'wide--one-third large--one-third medium-down--one-half' %}
{% endunless %}
{% if template contains 'product' %}
{% assign grid_item_width = '' %}
{% endif %}
{% unless current_collection == blank %}
{% assign current_collection = collection %}
{% endunless %}
{% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}
{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}
<li class="grid__item item-row  {{grid_item_width}}{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}" id="product-{{ product.id }}" {% if template contains 'index' %} {% if forloop.index > section.settings.total_products_load %} style="display:none"  data-wow-duration="1{{ forloop.index }}" {% endif %}{% endif %}>
  <div class="products">
    <div class="product-container">  
      {% if settings.count_down_enable and settings.count_down_collections %}
      {% assign dealTime = settings.home_productdeal_time | split: ' ' | join: ' ' | split: ' ' %}
      {% include 'deal-snippet' %}
      {% endif %}
      <a href="{{ product.url | within: collection }}" class="grid-link">    
        {% unless sold_out %}
        {% if on_sale and settings.collections_show_sale_circle %}
        <div class="featured-tag">
        <span class="badge badge--sale">
          
          <span class="gift-tag badge__text{% if sale_text.size > 7 %} badge__text--small{% endif %}">{{ 'products.product.sale' | t }}</span>
        </span>
        </div>
        {% endif %}
        {% endunless %}
        {% if sold_out and settings.collections_show_sold_out_circle %}
        <span class="badge badge--sold-out">
          <span class="badge__text{% if sold_out_text.size > 9 %} badge__text--small{% endif %}">{{ 'products.product.sold_out' | t }}</span>
        </span>
        {% endif %}   
        <div class="ImageOverlayCa"></div>
        {% if product.images.size > 1 %}
        <div class="reveal"> 
          <span class="product-additional">      
            <img loading="lazy" class="lazyload" src="{{ product.images.last | product_img_url: 'master' }}" alt="{{ product.images.last.alt | escape }}" />
          </span>
		 <img loading="lazy" src="{{ product.featured_image.src | img_url: 'master' }}" class="featured-image lazyload" alt="{{ product.featured_image.alt | escape }}">
        </div>      
        {% else %}
        <img loading="lazy" src="{{ product.featured_image.src | img_url: 'master' }}" class="featured-image lazyload" alt="{{ product.featured_image.alt | escape }}">
        {% endif %}
      </a>
      <div class="ImageWrapper">
        <div class="product-button">  
          {% if settings.enable_quick_view %}       
          <a href="javascript:void(0)" id="{{ product.handle }}" class="quick-view-text">                      
            <i class="icon-eye" aria-hidden="true"></i>
          </a>       
          {% endif %}
           {% if settings.enable_add_cart %}
      {% if product.available %}    
      <form  action="/cart/add" method="post" class="variants clearfix" id="cart-form-{{ product.id }}">                                    
        <input type="hidden" name="id" value="{{ product.variants[0].id }}" />  
         <a class="add-cart-btn">
       <i class="icon-basket"></i>
          </a>
      </form>  
      {% else %}
       <span class="sold_icon"> </span>
      {% endif %}
      {% endif %} 
           {% if settings.enable_product_detail_link_icon %}       
          <a href="{{ product.url }}">                      
            <i class="icon-link" aria-hidden="true"></i>
          </a>       
          {% endif %}
         
      
        </div>
      </div>
    </div>
    <div class="product-detail">
      
      <a href="{{ product.url | within: collection }}" class="grid-link__title">{{ product.title }}</a>     
      <div class="grid-link__meta">
        <div class="product_price">
          
          {% capture price %}{{ product.price | money }}{% endcapture %}
          <div class="grid-link__org_price">
          {% if product.price_varies %}{{ price }}{% else %}{{ price }}{% endif %}
          </div>
        
        {% if on_sale %}
        <del class="grid-link__sale_price">{{ product.compare_at_price | money }}</del>
        {% endif %}
          </div>      
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
    
     {% include 'item-swatch' %}
  </div>
  </div>
</li>