{% if comment and comment.created_at %}{% assign number_of_comments = article.comments_count | plus: 1 %}{% endif %}
<div class="grid" data-section-id="{{ section.id }}" data-section-type="article-template">
  <div class="container">
    {% if section.settings.enable_left_sidebar %}
    <div class="content_wrap">
      <aside class="sidebar left-sidebar col-xs-12 col-sm-3 col-md-3">
        <div class="sidebar__inner">
          {% render 'blog-sidebar' %}
          <div class="text-left">
            {% if blog.comments_enabled? %}
            <div class="comments">
              {% paginate article.comments by 5 %}
              <div id="comments">
                {% form 'new_comment', article %}
                {{ form.errors | default_errors }}
                <div class="grid--full">
                  <h2 class="h3">{{ 'blogs.comments.title' | t }}</h2>
                  <div class="grid-item large--one-half comments-form__author">
                    <label for="comment-author" class="form-label--hidden">
                      <span class="visuallyhidden">{{ 'blogs.comments.name' | t }}</span>
                    </label>
                    <input {% if form.errors contains "author" %} class="error"{% endif %}  type="text" name="comment[author]" placeholder="{{ 'blogs.comments.name' | t }}" id="comment-author" value="{{ form.author }}" autocapitalize="words">
                  </div>
                  <div class="grid-item large--one-half comments-form__email">
                    <label for="comment-email" class="form-label--hidden">
                      <span class="visuallyhidden">{{ 'blogs.comments.email' | t }}</span>
                    </label>
                    <input {% if form.errors contains "email" %} class="error"{% endif %} type="email" name="comment[email]" placeholder="{{ 'blogs.comments.email' | t }}" id="comment-email" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                  </div>
                  <div class="grid-item">
                    <label for="comment-body" class="form-label--hidden">
                      <span class="visuallyhidden">{{ 'blogs.comments.message' | t }}</span>
                    </label>
                    <textarea {% if form.errors contains "body" %} class="error"{% endif %} name="comment[body]" id="comment-body" placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>
                  </div>
                  <div class="grid-item">
                    {% if blog.moderated? %}
                    <p class="desc">{{ 'blogs.comments.moderated' | t }}</p>
                    {% endif %}
                    <input type="submit" class="btn text-center" value="{{ 'blogs.comments.post' | t }}">
                  </div>
                </div>
                {% endform %}
              </div>
              {% endpaginate %}
            </div>
            {% endif %}
            </article>   
        </div>
        </div>
      </aside>  
    {% endif %}
    {% if section.settings.enable_left_sidebar %}
    <div class="col-xs-12 col-sm-9 collection_wrapper">
      {% endif %}
      <article class="grid-item blog-post-single" itemscope itemtype="http://schema.org/Article">
        <header class="section-header text-left">
          {% if article.image %}
          <a class="blog-post__full-image" href="{{ article.url }}">{{ article | img_url: 'master' | img_tag: article.title }}</a>
          {% endif %}
          <div class="blog-meta">
            <div class="meta left">
              <div class="article_date"><i class="mdi mdi-calendar"></i>
                <span class="circle-divider caption-with-letter-spacing" itemprop="dateCreated pubdate datePublished">{{ article.published_at | time_tag: format: 'date' }}</span>
              </div>    
              <a class="blog__name col-xs-12 text-left text-capitalize padding_0" href="{{ blog.url }}">{{ blog.handle }}</a>
            </div>
            {% if article.comments_enabled? %}
            {% assign number_of_comments = article.comments_count %}
            <div class="comments-count"><i class="mdi mdi-comment-multiple" aria-hidden="true"></i>{{  number_of_comments }} {{ 'blogs.comments.comments' | t }}</div>
            {% endif %}
            <div class="meta text-center col-xs-12">{% render 'tags-article' %}</div>
          </div>
          <h1>{{ article.title }}</h1>
          {% assign month = article.published_at | date: "%b" %}
          {% assign day = article.published_at | date: "%d" %}
          {% assign year = article.published_at | date: "%Y" %}
          {% assign iso = article.published_at | date: "%F" %}
        </header>
        <div class="rte" itemprop="articleBody">{{ article.content }}</div>
        {% if section.settings.social_sharing %}
        <div class="text-left item-social-sharing">
          <h2 class="h4">{{ "blogs.article.share_post" | t }}</h2>
          {% if settings.show_linkedin_share or settings.show_facebook_share or settings.show_twitter_share or settings.show_google_plus_share or settings.show_mailto_share or settings.show_pinterest_share %}
          <div class="tt-social-share">
            {% if settings.show_facebook_share %}
            <div class="facebook">
              <a href="http://www.facebook.com/sharer.php?u={{ article.url }}"><i class="mdi mdi-facebook"></i></a>
            </div>
            {% endif %}
            {% if settings.show_twitter_share %}
            <div class="twitter">
              <a href="http://twitter.com/share?url={{ article.url }}"><i class="mdi mdi-twitter"></i></a>
            </div>
            {% endif %}
            {% if settings.show_pinterest_share %}
            <div class="pinterest">
              <a href="http://pinterest.com/pin/create/button/?url={{ article.url }}"><i class="mdi mdi-pinterest"></i></a>
            </div>
            {% endif %}
            {% if settings.show_linkedin_share %}
            <div class="linkedin">
              <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ article.url }}"><i class="mdi mdi-linkedin"></i></a>
            </div>
            {% endif %}
          </div>
          {% endif %}
        </div>
        {% endif %}
        {% if article.comments.size > 0 %}
        <h2 class="h3">{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h2>
        {% endif %}
        {% if comment and comment.created_at %}
        <p class="note form-success">
          {% if blog.moderated? %}
          {{ 'blogs.comments.success_moderated' | t }}
          {% else %}
          {{ 'blogs.comments.success' | t }}
          {% endif %}
        </p>
        {% endif %}
        {% if number_of_comments > 0 %}
        <ul>
          {% comment %}
          If a comment was just submitted with no blank field, show it.
          {% endcomment %}
          {% if comment and comment.created_at %}
          <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">
            {% include 'comment' %}
          </li>
          {% endif %}
          {% comment %}
          Showing the rest of the comments.
          {% endcomment %}
          {% for comment in article.comments %}
          <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
            {% render 'comment' %}
          </li>
          {% endfor %}
        </ul>
        {% if paginate.pages > 1 %}
        <hr>
        <div class="text-center">
          {% render 'pagination-custom' %}
        </div>
        {% endif %}
        {% endif %}
        {% comment %}
        Create links to the next and previous articles, if available.
        {% endcomment %}
        {% if blog.next_article or blog.previous_article %}
        <hr class="hr--clear hr--small">
        <div class="clearfix paginatoin_custom blog_nav">
          {% if blog.previous_article %}
          <span class="left">
            {{ 'blogs.article.older_post' | t | link_to: blog.previous_article }}
            <div class="blog_nav_title">{{ blog.previous_article.title }}</div>
            <div class="blog_nav_img">{{ blog.previous_article.image | img_url: 'master' | img_tag }}</div>
          </span>
          {% endif %}
          {% if blog.next_article %}
          <span class="newer-post">
            {{ 'blogs.article.newer_post' | t | link_to: blog.next_article }}
            <div class="blog_nav_title">{{ blog.next_article.title }}</div>
            <div class="blog_nav_img">{{ blog.next_article.image | img_url: 'master' | img_tag }}</div>
          </span>
          {% endif %}
        </div>
        {% endif %}
        {% if section.settings.enable_left_sidebar %}
        </div>
    </div>
    {% endif %}
  </div>
  <script type="application/ld+json">
   "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }}
  </script>
  {% schema %}
  {
  "name": "Article",
  "class": "article-template",
  "settings": [
  {
  "type": "checkbox",
  "id": "social_sharing",
  "label": "Enable blog post sharing"
  },{
  "type": "checkbox",
  "id": "enable_left_sidebar",
  "label": "Enable blog Left sidebar"
  }
  ]
  }
  {% endschema %}
