<div class="article-list">
  <h2>{{ section.settings.title }}</h2>
  <div class="articles">
    {% for blog in section.settings.blog.articles %}
      {% if blog.tags contains 'News and Articles' %}
        <a href="{{ blog.url }}" class="article">
          <div class="img_play">
              {% if blog.tags.first %}<span>{{ blog.tags.first }}</span>{% endif %}
              <img src="{{ blog.image | img_url: 'master' }}" />
              <h3>
                  {{ blog.metafields.custom.sub_title }}
              </h3>
          </div>
          <div class="article_content">
              <h4>{{ blog.title }}</h4>
              <!-- <h5>{{ blog.author }}</h5> -->
              <span>{{ blog.metafields.custom.watch_on_title }}</span>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% assign all_blog = 'all-articles' %}
{{ section.settings.blog }}
{% for article in blogs.all_blog.handle.articles %}
  {{ article.title | link_to: article.url }}
{% endfor %}

{% schema %}
  {
    "name": "Article List",
    "class": "article-list_wrap container--narrow",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      },
      {
        "type": "radio",
        "id": "choose_blog",
        "label": "Choose blog",
        "options": [
          {
            "value": "News and Articles",
            "label": "News and Articles"
          },
          {
            "value": "Laws and Regulations",
            "label": "News and Articles"
          },
          {
            "value": "Pharmacist Guides",
            "label": "Pharmacist Guides"
          }
        ],
        "default": "News and Articles"
      }
    ],
    "presets": [
        {
          "name": "Article List"
        }
    ]
  }
{% endschema %}