<style>
  .block_newsletter form .input-group .input-group-btn .btn{
    background: {{ section.settings.btn_bg_color }};
    color: {{ section.settings.btn_txt_color }};
  }
  .block_newsletter form .input-group .input-group-btn .btn::after{
    background: {{ section.settings.btn_hoverbg_color }};
  }
  .block_newsletter form .input-group .input-group-btn .btn:hover,
  .block_newsletter form .input-group .input-group-btn .btn:focus,
  .block_newsletter form .input-group .input-group-btn .btn:active{
    color: {{ section.settings.btn_hovertxt_color }};
  }
  .block_newsletter form .input-group .input-group-btn .btn .icon{
    color: {{ section.settings.btn_txt_color }};
    display:inline-block;
  }
  .block_newsletter form .input-group .input-group-btn .btn:hover .icon{
    color: {{ section.settings.btn_hovertxt_color }};
  }
  #footer-services{
    background: {{ section.settings.bg_color }};
  }
  #footer-services .ttcontent .service-title{color: {{ section.settings.title_color }};}
  #footer-services .ttcontent:hover .content .service-title {color: {{ section.settings.title_hover_color }};}
  #footer-services .block_content .ttcontent:hover .service .ttshipping_img.service-icon{
    background: {{ section.settings.icon_hover_color }};
  }
  #footer-services .ttcontent .service-desc{color: {{ section.settings.desc_color }};}  
  #footer-services .block_content .ttcontent .service .service-icon{
    color: {{ section.settings.icon_color }};
    background: {{ section.settings.icon_color }};} 
  .testimonial-app{background: {{ section.settings.testi_bg_color }};}
  #shopify-section-footer-model-3 .Newsletter-content{background: {{ section.settings.newsletter_bg }};}
  #shopify-section-footer-model-3 .Newsletter-content .widget-title{color: {{ section.settings.newsletter_title_color }};}
  #shopify-section-footer-model-3 .Newsletter-content .news-desc{color: {{ section.settings.newsletter_desc_color }};}
</style>
{% capture borderWidth %}{{ settings.border_width }}px{% endcapture %}
{% capture colorBorder %}{{ settings.color_borders }}{% endcapture %}
{% if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_fancy_link != blank %}
{% assign show_social_icons = true %}
{% else %}{% assign show_social_icons = false %}{% endif %}
{% assign flexifooter = 0 %}
{% if show_social_icons %}{% assign flexifooter = flexifooter | plus: 1 %}{% endif %}
{% if section.settings.newsletter_desc != blank %}{% assign class = 'has_desc' %}{% else %}{% assign class = '' %}{% endif %}
<footer class="footer">
  <div class="footer-head_intro">
    <div class="footer-head_gap">
      <div class="gap_white"></div>
    </div>
    <div class="footer-head_text">
      <h4>{{ section.settings.footer_header }}</h4>
    </div>
  </div>
  <div class="container">
    <div class="footer-logo_text container--narrow">
      <div class="footer-img_logo">
        <a href="/"><img src="{{ section.settings.image_logo | img_url: 'master' }}" /></a>
      </div>
      <div class="footer-text_intro">
        {% include 'info' %}
        {{ section.settings.text_intro }}
      </div>
    </div>
    <div class="footer-links">
      {% for block in section.blocks %}
        <div class="menu_footer_items">
          {% case block.type %}
  
            {% when 'menu' %}  
              <h3>{{ block.settings.menu_heading }}</h3>
              <div class="footer-menu_item">
                {% for link in block.settings.menu.links %}
                  <a href="{{ link.url }}">
                    {{ link.title }}
                  </a>
                {% endfor %}
              </div> 
        
            {% when 'button' %}
              <a class="footer_btn" href="{{ block.settings.btn_link }}">{{ block.settings.btn_text }}</a>
        
          {% endcase %} 
        </div>
      {% endfor %}
    </div>
  </div>
</footer>
{% schema %}
{
"name": "Footer Design 3",
"settings": [
      {
        "type": "richtext",
        "id": "footer_header",
        "label": "Heading"
      },
      {
        "type": "image_picker",
        "id": "image_logo",
        "label": "Image Logo"
      },
      {
        "type": "richtext",
        "id": "text_intro",
        "label": "Text intro"
      }
    ],
    "blocks": [
      {
        "name": "Menu items",
        "type": "menu",
        "settings": [
          {
            "type": "text",
            "id": "menu_heading",
            "label": "Menu Heading"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          }
        ]
      },
      {
        "name": "Button",
        "type": "button",
        "settings": [
          {
            "type": "text",
            "id": "btn_text",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "btn_link",
            "label": "Button link"
          }
        ]
      }
    ]
}
{% endschema %}
