<style>
  .block_newsletter form .input-group .input-group-btn .btn{
    background: {{ section.settings.btn_bg_color }};
    color: {{ section.settings.btn_txt_color }};
  }
  .block_newsletter form .input-group .input-group-btn .btn::after{
    background: {{ section.settings.btn_hoverbg_color }};
  }
  .block_newsletter form .input-group .input-group-btn .btn:hover,
  .block_newsletter form .input-group .input-group-btn .btn:focus,
  .block_newsletter form .input-group .input-group-btn .btn:active{
    color: {{ section.settings.btn_hovertxt_color }};
  }
  .block_newsletter form .input-group .input-group-btn .btn .icon{
    color: {{ section.settings.btn_txt_color }};
    display:inline-block;
  }
  .block_newsletter form .input-group .input-group-btn .btn:hover .icon{
    color: {{ section.settings.btn_hovertxt_color }};
  }
  #footer-services{
    background: {{ section.settings.bg_color }};
  }
  #footer-services .ttcontent .service-title{color: {{ section.settings.title_color }};}
  #footer-services .ttcontent:hover .content .service-title {color: {{ section.settings.title_hover_color }};}
  #footer-services .block_content .ttcontent:hover .service .ttshipping_img.service-icon{
    background: {{ section.settings.icon_hover_color }};
  }
  #footer-services .ttcontent .service-desc{color: {{ section.settings.desc_color }};}  
  #footer-services .block_content .ttcontent .service .service-icon{
    color: {{ section.settings.icon_color }};
    background: {{ section.settings.icon_color }};} 
  .testimonial-app{background: {{ section.settings.testi_bg_color }};}
  #shopify-section-footer-model-3 .Newsletter-content{background: {{ section.settings.newsletter_bg }};}
  #shopify-section-footer-model-3 .Newsletter-content .widget-title{color: {{ section.settings.newsletter_title_color }};}
  #shopify-section-footer-model-3 .Newsletter-content .news-desc{color: {{ section.settings.newsletter_desc_color }};}

  .linkedin_footer {
    display: block;
    margin-top: 20px;
  }

  .linkedin_footer svg {
    width: 30px;
    height: 30px;
    fill: #fff;
    transition: 0.3s;
  }

  .linkedin_footer:hover svg {
    fill: #81bbe1;
  }
</style>
{% capture borderWidth %}{{ settings.border_width }}px{% endcapture %}
{% capture colorBorder %}{{ settings.color_borders }}{% endcapture %}
{% if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_fancy_link != blank %}
{% assign show_social_icons = true %}
{% else %}{% assign show_social_icons = false %}{% endif %}
{% assign flexifooter = 0 %}
{% if show_social_icons %}{% assign flexifooter = flexifooter | plus: 1 %}{% endif %}
{% if section.settings.newsletter_desc != blank %}{% assign class = 'has_desc' %}{% else %}{% assign class = '' %}{% endif %}
<footer class="footer">
  <div class="footer-head_intro">
    <div class="footer-head_gap">
      <div class="gap_white"></div>
    </div>
    <div class="footer-head_text">
      <h4>{{ section.settings.footer_header }}</h4>
    </div>
  </div>
  <div class="container">
    <div class="footer-logo_text container--narrow">
      <div class="footer-img_logo">
        <a href="/"><img src="{{ section.settings.image_logo | img_url: 'master' }}" /></a>
      </div>
      <div class="footer-text_intro">
        {% include 'info' %}
        {{ section.settings.text_intro }}
      </div>
    </div>
    <div class="footer-links">
      {% for block in section.blocks %}
        <div class="menu_footer_items">
          {% case block.type %}
  
            {% when 'menu' %}  
              <h3>{{ block.settings.menu_heading }}</h3>
              <div class="footer-menu_item">
                {% for link in block.settings.menu.links %}
                  {% if link.url == "#" %}
                    <span>
                      {{ link.title }}
                    </span>
                  {% else %}
                  <a href="{{ link.url }}">
                    {{ link.title }}
                  </a>
                  {% endif %}
                  
                {% endfor %}
              </div> 
        
            {% when 'button' %}
              <a class="footer_btn" href="{{ block.settings.btn_link }}">{{ block.settings.btn_text }}</a>
              <a class="linkedin_footer" href="https://www.linkedin.com/company/vapelabau/about/">
                <svg viewBox="0 0 512 512">
                  <title/>
                  <g id="icomoon-ignore">
                  </g>
                  <path d="M464 0h-416c-26.4 0-48 21.6-48 48v416c0 26.4 21.6 48 48 48h416c26.4 0 48-21.6 48-48v-416c0-26.4-21.6-48-48-48zM192 416h-64v-224h64v224zM160 160c-17.7 0-32-14.3-32-32s14.3-32 32-32c17.7 0 32 14.3 32 32s-14.3 32-32 32zM416 416h-64v-128c0-17.7-14.3-32-32-32s-32 14.3-32 32v128h-64v-224h64v39.7c13.2-18.1 33.4-39.7 56-39.7 39.8 0 72 35.8 72 80v144z"/>
                </svg>
              </a>
          {% endcase %} 
        </div>
      {% endfor %}
    </div>
  </div>
</footer>
{% schema %}
{
"name": "Footer Design 3",
"blocks": [
{
  "name": "Menu items",
  "type": "menu",
  "settings": [
    {
      "type": "text",
      "id": "menu_heading",
      "label": "Menu Heading"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ]
},
{
  "name": "Button",
  "type": "button",
  "settings": [
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    }
  ]
},
{
"type": "s_text",
"name": "services",
"settings": [
{
"type": "image_picker",
"id": "service_icon",
"label": "Service Icon",
"info": "Size: 65x65"
},
{
"type": "text",
"id": "title",
"label": "Title"
},
{
"type": "text",
"id": "desc",
"label": "Description"
}
]
},
{
"type": "text",
"name": "Testimonial",
"settings": [
{
"type": "textarea",
"id": "text_desc",
"label": "Description"
},
{
"type": "color",
"id": "des_color",
"label": "Description Color",
"default":"#000"
},
{
"type": "text",
"id": "author_name",
"label": "author name"
},
{
"type": "text",
"id": "author_designation",
"label": "Designation"
},
{
"type": "color",
"id": "author_color",
"label": "Author Color",
"default":"#000"
},
{
"type": "color",
"id": "author_descolor",
"label": "Designation Color",
"default":"#000"
}
]
}
],
"settings": [
{
"type": "header",
"content": "Services"
},
{
"type": "color",
"id": "bg_color",
"label": "background Color",
"default":"#000"
},
{
"type": "color",
"id": "title_color",
"label": "Title Color",
"default":"#000"
},
{
"type": "color",
"id": "title_hover_color",
"label": "Title Hover Color",
"default":"#fc9f22"
},
{
"type": "color",
"id": "desc_color",
"label": "Description Color",
"default":"#000"
},
{
"type": "color",
"id": "icon_color",
"label": "Service Icon Color",
"default":"#000"
},
{
"type": "color",
"id": "icon_hover_color",
"label": "Service Icon Hover Color",
"default":"#000"
},
{
"type": "header",
"content": "Testimonial & App"
},
{
"type": "color",
"id": "testi_bg_color",
"label": "Testimonial Main Background Color"
},
{
"type": "image_picker",
"id": "Testi_img",
"label": "Testimonial Image"
},
{
"type": "text",
"id": "app_heading",
"label": "Heading",
"default": "App Heading"
},
{
"type": "image_picker",
"id": "dwld_app1",
"label": "download image1"
},
{
"type": "url",
"id": "dwld_app_url1",
"label": "App1 url"
},
{
"type": "image_picker",
"id": "dwld_app2",
"label": "download image2"
},
{
"type": "url",
"id": "dwld_app_url2",
"label": "App2 url"
},
{
"type": "image_picker",
"id": "dwld_app3",
"label": "download image3"
},
{
"type": "url",
"id": "dwld_app_url3",
"label": "App3 url"
},
{
"type": "header",
"content": "contact"
},
{
"type": "text",
"id": "footer_contact_title",
"label": "Contact Title",
"default": "store information"
},
{
"type": "richtext",
"id": "contact_address",
"label": "Address",
"default": "<p>My Company, 42 Puffin street 12345 Puffinville France</p>"
},	
{
"type": "text",
"id": "contact_no",
"label": "Contact Text",
"default": "0123-456-789"
},
{
"type": "text",
"id": "contact_email",
"label": "Email Id",
"default": "sales@yourcompany.com"
},
{
"type": "header",
"content": "Menu links"
},
{
"type": "text",
"id": "footer_col_title_1",
"label": "Heading",
"default": "Footer Title 1"
},	
{
"type": "link_list",
"id": "col_1_menu",
"label": "Footer Column 1"
},
{
"type": "text",
"id": "footer_col_title_2",
"label": "Heading",
"default": "Footer Title 2"
},	
{
"type": "link_list",
"id": "col_2_menu",
"label": "Footer Column 2"
},
{
"type": "text",
"id": "footer_col_title_3",
"label": "Heading",
"default": "Footer Title 3"
},	
{
"type": "link_list",
"id": "col_3_menu",
"label": "Footer Column 3"
},
{
"type": "text",
"id": "footer_col_title_4",
"label": "Heading",
"default": "Footer Title 4"
},	
{
"type": "link_list",
"id": "col_4_menu",
"label": "Footer Column 4"
},
{
"type": "header",
"content": "newsletter"
},
{
"type": "color",
"id": "newsletter_bg",
"label": "newsletter Background Color"
},
{
"type": "text",
"id": "newsletter_title",
"label": "Newsletter Title",
"default": "Sign Up For Newsletter"
},
{
"type": "color",
"id": "newsletter_title_color",
"label": "Newsletter Title Color",
"default": "#ffffff"
},
{
"type": "text",
"id": "newsletter_desc",
"label": "Newletter description"
},
{
"type": "color",
"id": "newsletter_desc_color",
"label": "Newletter description Color",
"default": "#ffffff"
},
{
"type": "color",
"id": "btn_txt_color",
"label": "Button Text Color",
"default": "#ffffff"
},
{
"type": "color",
"id": "btn_bg_color",
"label": "Button Background Color",
"default": "#000000"
},
{
"type": "color",
"id": "btn_hovertxt_color",
"label": "Button Hover Text Color",
"default": "#000000"
},
{
"type": "color",
"id": "btn_hoverbg_color",
"label": "Button Hover Background Color",
"default": "#fdd413"
},
{
"type": "header",
"content": "Security Store"
},
{
"type": "text",
"id": "security_title",
"label": "Security Title"
},
{
"type": "image_picker",
"id": "security_img1",
"label": "Security logo 1"
},
{
"type": "image_picker",
"id": "security_img2",
"label": "Security logo 2"
},
{
"type": "image_picker",
"id": "security_img3",
"label": "Security logo 3"
},
{
"type": "header",
"content": "Menu links"
},
{
"type": "text",
"id": "footer_col_title_5",
"label": "Heading",
"default": "Footer Title 5"
},	
{
"type": "link_list",
"id": "col_5_menu",
"label": "Footer Column 5"
},
{
"type": "text",
"id": "footer_col_title_6",
"label": "Heading",
"default": "Footer Title 6"
},	
{
"type": "link_list",
"id": "col_6_menu",
"label": "Footer Column 6"
},
{
"type": "text",
"id": "footer_col_title_7",
"label": "Heading",
"default": "Footer Title 7"
},	
{
"type": "link_list",
"id": "col_7_menu",
"label": "Footer Column 7"
},
{
  "type": "richtext",
  "id": "footer_header",
  "label": "Heading"
},
{
  "type": "image_picker",
  "id": "image_logo",
  "label": "Image Logo"
},
{
  "type": "richtext",
  "id": "text_intro",
  "label": "Text intro"
}
]
}
{% endschema %}
