<div class="grid">
  <div class="grid-item customer-orders">
    <div>
      
    </div>
    <h2 class="tt-innerpagetitle">{% for tag in customer.tags %}{{ tag }}{% endfor %}</h2>
    
    {% paginate customer.orders by 20 %}
    {% if customer.orders.size != 0 %}
    <table class="full">
      <thead>
        <tr>
          <th>{{ 'customer.orders.order_number' | t }}</th>
          <th>{{ 'customer.orders.date' | t }}</th>
          <th>Invoice Status</th>
          <th>Invoice Number</th>
          {% comment %}<th>{{ 'customer.orders.fulfillment_status' | t }}</th>{% endcomment %}
          <th>Tracking Link</th>
          <th>{{ 'customer.orders.total' | t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for order in customer.orders %}
        <tr>
          <td>{{ order.name | link_to: order.customer_url }}</td>
          <td>{{ order.created_at | date: "%b %d, %Y" }}</td>
          <td>
            {% if order.note %}
              {% assign notes = order.note | split: "," %}
              {% if notes.first != "Paid" %}Waiting for payment{% else %}Paid{% endif %}
            {% else %}
              ---
            {% endif %}
          </td>
          <td>
            {% if order.note %}
              {% assign notes = order.note | split: "," %}
              {% for note in notes %}  
                    {% if note contains 'INV' %} 
                      <a href="{{ notes.last }}">{{ note }}</a>
                    {% endif %}
              {% endfor %}
            {% else %}
              ---
            {% endif %}
          </td>
          {% comment %}<td>{{ order.fulfillment_status_label }}</td>{% endcomment %}
            {% if order.line_items[0].fulfillment.tracking_number %}
              <td><a href="{{ order.line_items[0].fulfillment.tracking_url }}">#{{ order.line_items[0].fulfillment.tracking_number}}</a></td>
            {% else %}
              <td>---</td>
            {% endif %}
          <td>{{ order.total_price | money }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>{{ 'customer.orders.none' | t }}</p>
    {% endif %}
    {% if paginate.pages > 1 %}
    <div class="text-center">
      {% render 'pagination-custom', paginate: paginate %}
    </div>
    {% endif %}
    {% endpaginate %}
  </div>
</div>
{% schema %}
  {
    "name": "Orders Table",
    "settings": [],
    "presets": [
      {
        "name": "Orders Table"
      }
    ]
  }
{% endschema %}