  {%- if section.settings.logo -%}
  <img src="{{ section.settings.logo | img_url: '235x50' }}" class="password-logo" alt="{{ section.settings.logo.alt | default: shop.name | escape }}" loading="lazy">
  {%- else -%}
  <h1 class="h2">{{ shop.name }}</h1>
  {%- endif -%}
  {%- if shop.password_message != blank -%}
  <div class="password-content">
    {{ shop.password_message }}
  </div>
  {%- endif -%}
  <password-modal>
    <details class="password-modal">
      <summary class="modal__toggle" aria-haspopup="dialog" aria-label="Password modal">
        <div class="modal__toggle-open password-link link underlined-link">
          <i class="mdi mdi-lock-question"></i>
          Enter using password
        </div>
      </summary>
      <div class="modal__content" role="dialog" aria-labelledby="DialogHeading" aria-modal="true">
        <div class="password-modal__content" tabindex="-1">
          <button type="button" class="modal__close-button link" aria-label="close">
            <span class="mdi mdi-close" aria-hidden="true"></span>
          </button>
          <h2 class="password-modal__content-heading" id="DialogHeading">
            {{ 'general.password_page.login_form_heading' | t }}
          </h2>
          {%- form 'storefront_password', class: 'password-form' -%}
          <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
            <input type="password" name="password" id="Password" class="field__input" autocomplete="current-password" {% if form.errors %} aria-invalid="true" aria-describedby="PasswordLoginForm-password-error"
                   {%- endif -%} placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
            {%- if form.errors -%}
            <div id="PasswordLoginForm-password-error" role="status">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message"><svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7" />
                </svg>
                {{ 'general.password_page.login_form_error' | t }}</span>
            </div>
            {%- endif -%}
          </div>
          <button name="commit" class="btn password-button button button--outline">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
          {%- endform -%}
          <small class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
        </div>
      </div>
    </details>
  </password-modal>
{% schema %}
{
"name": "Password header",
"settings": [
{
"type": "image_picker",
"id": "logo",
"label": "Logo image"
},
{
"type": "range",
"id": "logo_max_width",
"min": 50,
"max": 250,
"step": 10,
"default": 100,
"unit": "px",
"label": "Custom logo width"
}
]
}
{% endschema %}
