{% if section.settings.mobile_bar %}
<div id="stickydata" class="main-sticky-data">
<div class="sticky-data">

<div class="sticky_cnt {{ section.settings.title_1  }}">                            
<div class="sticky_img">
<a href="{{ section.settings.url_1 }}">          
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
</a>
</div>                
{% if section.settings.url_1  != blank  %}
<a href="{{ section.settings.url_1 }}">
{% endif %}
<div class="sticky_title">{{ section.settings.title_1 }}</div>
{% if section.settings.url_1 != blank  %}
</a>                
{% endif %}
</div>

<div class="sticky_cnt {{ section.settings.title_2  }}">                            
<div class="sticky_img">
<a href="{{ section.settings.url_2 }}">          
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
</a>
</div>                
{% if section.settings.url_2  != blank  %}
<a href="{{ section.settings.url_2 }}">
{% endif %}
<div class="sticky_title">{{ section.settings.title_2 }}</div>
{% if section.settings.url_2 != blank  %}
</a>                
{% endif %}
</div>


<div class="sticky_cnt {{ section.settings.title_3  }}">                            
<div class="sticky_img">
<a href="{{ section.settings.url_3 }}">          
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
</a>
</div>                
{% if section.settings.url_3  != blank  %}
<a href="{{ section.settings.url_3 }}">
{% endif %}
<div class="sticky_title">{{ section.settings.title_3 }}</div>
{% if section.settings.url_3 != blank  %}
</a>                
{% endif %}
</div>

<div class="sticky_cnt {{ section.settings.title_4  }}">                            
<div class="sticky_img">
<a href="{{ section.settings.url_4 }}">          
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
</a>
</div>                
{% if section.settings.url_4  != blank  %}
<a href="{{ section.settings.url_4 }}">
{% endif %}
<div class="sticky_title">{{ section.settings.title_4 }}</div>
{% if section.settings.url_4 != blank  %}
</a>                
{% endif %}
</div>
<div class="sticky_cnt {{ section.settings.title_5  }}">                            
<div class="sticky_img">
<a href="{{ section.settings.url_5 }}">          
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
</a>
</div>                
{% if section.settings.url_5  != blank  %}
<a href="{{ section.settings.url_5 }}">
{% endif %}
<div class="sticky_title">{{ section.settings.title_5 }}</div>
{% if section.settings.url_5 != blank  %}
</a>                
{% endif %}
</div>
</div>
</div>
{% endif %}
{% schema %}
{
"name": "mobile-bar",
"class": "index-section mobilebar",
"settings": [
{
"type": "checkbox",
"id": "mobile_bar",
"label": "Mobile Bar",
"default": true
},
{
"type": "url",
"id": "url_1",
"label": "URL 1"
},
{
"type": "text",
"id": "title_1",
"label": "Title 1"
},
{
"type": "url",
"id": "url_2",
"label": "URL 2"
},
{
"type": "text",
"id": "title_2",
"label": "Title 2"
},
{
"type": "url",
"id": "url_3",
"label": "URL 3"
},
{
"type": "text",
"id": "title_3",
"label": "Title 3"
},
{
"type": "url",
"id": "url_4",
"label": "URL 4"
},
{
"type": "text",
"id": "title_4",
"label": "Title 4"
},
{
"type": "url",
"id": "url_5",
"label": "URL 5"
},
{
"type": "text",
"id": "title_5",
"label": "Title 5"
}
],
"presets": [
{
"name": "mobile-bar",
"category": "TT CMS section"
}
]
}
{% endschema %}
